header{
    background-image: url(./img/hockey_1.jpg);
    background-position: center;
    background-size: cover;
}

#logo{
    width: 80px;
}
main>section>h3{
    background-color: cornflowerblue;
}