*{
    margin: 5px 5px 10px 35px ;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: rgb(163, 184, 137);
}

header{
    display: flex;
    justify-content: center;
}
header h1{
    margin: 10px 0px 5px 20px;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:xx-large;
}
.titulo{
    width: 30%;
    display: flex;
    flex-direction: column;
    transform: translateY(350px);
    position: absolute;
    justify-content: center;
    align-items: flex-end;
}
h3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: yellow;
    width: 100px;
    min-height: 50px;
    text-align: right;
    z-index: 3;
    font-size: larger;
}
h4{
    font-size: larger;
}
p{
    font-size: medium;
}

.contenedor{
    width: 95vw;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.logo{
    width: 80px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border: black solid;
    border-radius: 30%;
}   

#nav-home{
    background-image: url("../img/design1_image1.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
#nav-about{
    background-image: url("../img/design1_image2.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
#nav-contact{
    background-image: url("../img/hockey_1.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
#nav-rules{
    background-image: url("../img/hockey_2.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
#nav-registration{
    background-image: url("../img/hockey_3.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}
#nav-information{
    background-image: url("../img/design1_image1.jpg");
    opacity: 0.5;
    background-size: cover;
    max-width: 95vw;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
}

nav>a{
    display: inline;
    text-decoration: none;
    opacity: 1;
    z-index: 2;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10%;
    margin: 5px;
}

.boton{
    background-color:yellow;
    color: black; 
}
.boton-activo{
    background-color:black;
    color: yellow; 
    border-color: yellow;
}

#home{
    margin-top: 150px;
    margin-left: 30px;
    max-width: 95vw;

} 

.section-home h4{
    font-style:normal;
    margin-top: 20px;
    padding-left: 10px;
    justify-content: flex-start;
    text-align: start
}

.section-home > p{
    font-style: italic;
    margin-top: 1px;
    padding-left: 10px;

}

#about{
    margin-top: 100px;
    max-width: 90vw;
    position: absolute;
    margin-left: 30px;
}
.about p{
    margin-top: 10px;
    padding-left: 15px;
    text-indent: 30px;
} 
.about h4{
    margin-top: 20px;
}

#contact{
    margin-top: 100px;
    max-width: 95vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

#contact p{
    padding-left: 15px;
    margin-top: 30px;
}
#contact a{
    padding-left: 15px;
    margin-top: 30px;
}

.contenido a{
    padding-left: 15px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

#rules{
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.title{
    display: flex;
    justify-content: center;
}

article{
    margin-top: 100px;
    width: 95vw;
    
}

.game-information h2{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.game-information p{
    max-width: 95vw;
    margin: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: medium;
}

.pie-game{
    display: flex;
    flex-direction: row;
    width: 85%;

}

.title-rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sportsmanship{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
}
.sportsmanship p{
    text-indent: 50px;
}
.ihf-field-regulations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
}
.all-play{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
}
.rules h4{
    font-weight:bold;
    font-size: medium;
    margin: 10px;
    padding: 10PX;
}

.numeros li{
    margin-left:10px;
    margin-top: 10px;
    padding: 10px;
    font-size: medium;
}

.vinetas{
    padding: 10px;
    font-size: medium;
    line-height: 30px;
    padding-left: 30px;
    margin-left: 30px;
    max-width: 95vw;
}
.letras{
    line-height: 5px;
}
.numeros{
    line-height: 30px;

}
#subrayado{
    text-decoration:underline;
}
#all-play{
    text-indent: 30px;
    max-width: 90vw;
}

table{
    max-width: 95vw;
    align-self: center;
    font-size: medium;

}
th, td{
    text-align: left;
    vertical-align: center;
    padding: 5px;
}
.letras{
    line-height: 20px;
}
.pie-game{
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width: 95vw;
}

.maps{
    max-width: 90vw;
    background-color: black;
}

.map{
    width: 80vw;
}
#game-locations{
    width: 30%;
}

.formulario{
    margin-top: 60px;
}

/* tablets */
@media only screen and (min-width: 376px) and (max-width: 800px){    

    .boton-activo{
        background-color:black;
        color:white; 
        border-color: yellow;
    }

    nav{
        align-content: flex-start;
    }
    #tabla{
        transform: translateX(25vw);
    }
    .map{
        width: 80vw;
        height: 80vh;
    }
    .logo{
        width: 120px;
    }
    .contenedor-maps{
        background-color: black;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

/* pantallas grandes */
@media only screen and (min-width: 800px){
    .boton-activo{
        background-color: black;
        color:red; 
        border-color: yellow;
    }
    nav{
        align-content: flex-start;
        
    }
    .logo{
        width: 200px;
    }
    #tabla{
        transform: translateX(30vw);
    }

    .contenedor-maps{
        background-color: black;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    } 


    .map{
        width: 40vw;
        height: 50vh;
    }
    
    #game-locations{
        display: flex;
        justify-content: center;
    }
} 